# this file holds all info for the OLI-tool to function
# information should be provided as key - value pairs, separated by a space
# lines with more than two elements will be ignored, as will be empty lines

# General parameters
sleep_this_long 1
loop_this_long 00:00:01

# LibreClinica parameters
########################
userName oli_oc
password xxx
baseUrl https://mydomain.com/LibreCLinica-ws
baseUrlRest https://mydomain.com/LibreClinica
studyIdentifier MyStudy
studyOid S_MYST

# LimeSurvey parameters
#######################
lsUser oli_ls
lsPassword xxx
lsUrl https://mydomain.com/ls/index.php/admin/remotecontrol

# some parameters for sending the log
#####################################
mail_enabled false
mail_server localhost
mail_from ls_admin@mydomain.com
mail_to gerbenrienk@mydomain.com
mail_subject oli-Log

# postgresql database connection for the bookkeeping
####################################################
dbUser clinica
dbPass xxx
dbName oli
dbPort 5432
dbHost localhost